.ui-button{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 6px 15px;
    line-height: 1.5;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid $border-color-base;
    white-space: nowrap;
    @include radius(4px);
    @include user-select(none);
    @include transition(all 0.2s $ease-in-out);
    color: $text-color;
    background-color: $background-color-base;
    background-image: none;
    outline: none;
    &:hover, &:focus{
        color: $link-hover-color;
        border-color: $link-hover-color;
        &.ui-button-disabled{
            color: $text-color;
            border-color: $border-color-base;
        }
    }
    &.ui-button-long{
        width: 100%;
    }
    &.ui-button-circle{
        @include radius(30px);
    }
    &.ui-button-type-ghost{
        background-color: transparent;
    }
    &.ui-button-type-text{
        background-color: transparent;
        border: 1px solid transparent;
        &.ui-button-disabled:hover,
        &.ui-button-disabled:focus{
            border-color: transparent;
        }
    }
    &.ui-button-type-primary{
        background-color: $primary-color;
        border: 1px solid $primary-color;
        color: $body-background;
        &:hover, &:focus{
            background-color: rgba($primary-color, .8);
        }
        &.ui-button-disabled:hover, &.ui-button-disabled:focus{
            color: $body-background;
            border-color: $primary-color;
            background-color: $primary-color;
        }
    }
    &.ui-button-type-info{
        background-color: $info-color;
        border: 1px solid $info-color;
        color: $body-background;
        &:hover, &:focus{
            background-color: rgba($info-color, .8);
        }
        &.ui-button-disabled:hover, &.ui-button-disabled:focus{
            color: $body-background;
            border-color: $info-color;
            background-color: $info-color;
        }
    }
    &.ui-button-type-success{
        background-color: $success-color;
        border: 1px solid $success-color;
        color: $body-background;
        &:hover, &:focus{
            background-color: rgba($success-color, .8);
        }
        &.ui-button-disabled:hover, &.ui-button-disabled:focus{
            color: $body-background;
            border-color: $success-color;
            background-color: $success-color;
        }
    }
    &.ui-button-type-warn{
        background-color: $warning-color;
        border: 1px solid $warning-color;
        color: $body-background;
        &:hover, &:focus{
            background-color: rgba($warning-color, .8);
        }
        &.ui-button-disabled:hover, &.ui-button-disabled:focus{
            color: $body-background;
            border-color: $warning-color;
            background-color: $warning-color;
        }
    }
    &.ui-button-type-error{
        background-color: $error-color;
        border: 1px solid $error-color;
        color: $body-background;
        &:hover, &:focus{
            background-color: rgba($error-color, .8);
        }
        &.ui-button-disabled:hover, &.ui-button-disabled:focus{
            color: $body-background;
            border-color: $error-color;
            background-color: $error-color;
        }
    }
    &.ui-button-icon-only{
        padding: 0;
        height: 32px;
        line-height: 32px;
        width: 32px;
        &.ui-button-circle{
            @include radius(32px);
        }
        .ui-icon{
            margin: 0;
            vertical-align: baseline;
        }
    }
    &.ui-button-disabled{
        cursor: not-allowed;
        opacity: 0.6;
    }
    .ui-icon{
        font-size: 14px;
        margin-right: 2px;
        vertical-align: middle;
    }
    .content{
        vertical-align: middle;
    }
}
