.ui-row {
    position: relative;
    display: block;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
        visibility: hidden;
        font-size: 0;
        height: 0;
    }
}

.ui-cell {
    position: relative;
    display: block;
}

@for $i from 1 through 24 {
    .ui-cell-span-#{$i} {
        width: ($i/24) * 100%;
        float: left;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .ui-cell-offset-#{$i} {
        margin-left: ($i/24) * 100%;
    }
}
