$light: $body-background;
$light-color: $text-color;
$light-border: $border-color-base;
$light-hover-horizontal: $background-color-select-hover;
$light-selected: #128bd6;
$light-arrow-color: $sub-text-color;
$light-group-color: $sub-text-color;

$blue: #128bd6;
$blue-color: $body-background;
$blue-hover-horizontal: #077cc5;
$blue-selected: #077cc5;
$blue-arrow-color: $body-background;
$blue-group-color: #ddd;

.ui-menu{
    position: relative;
    line-height: 48px;
    width: 100%;
    li {
        list-style: none !important;
    }
    ul{
        padding: 0 !important;
    }
    &:before{
        content: '';
        width: 1px;
        background: $light-border;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        display: block;
    }
    .ui-menu-arrow{
        color: $light-arrow-color;
        float: right;
        position: absolute;
        top: 1px;
        right: 24px;
        text-indent: 0;
    }
    .ui-menu-item, .ui-menu-submenu-title{
        text-indent: 24px;
        cursor: pointer;
        position: relative;
        color: $light-color;
        border-right: 1px solid $light-border;
        &:hover{
            background-color: $light-hover-horizontal;
        }
    }
    .ui-menu-item-actived{
        color: $light-selected;
        border-right: 2px solid $light-selected;
    }
    .ui-menu-group-title{
        color: $light-group-color;
        text-indent: 32px;
    }
    .ui-menu-arrow-active{
        transform: rotate(180deg);
        top: 0;
    }
    .ui-menu-submenu li{
        text-indent: 48px;
    }
    .ui-menu-submenu .ui-menu-submenu-icon, 
    .ui-menu-item .ui-menu-item-icon{
        vertical-align: middle;
        margin-top: -2px;
        height: 14px;
        width: auto;
        margin-right: 8px;
    }


    &.ui-menu-type-dark{
        background: $blue;
        &:before{
            display: none;
        }
        .ui-menu-arrow{
            color: $blue-arrow-color
        }
        .ui-menu-group-title{
            color: $blue-group-color;
        }
        .ui-menu-item, .ui-menu-submenu-title{
            color: $blue-color;
            border-right: none;
            &:hover{
                background-color: $blue-hover-horizontal;
            }
            // a{
            //     color: $blue-color;
            // }
        }
        .ui-menu-item-actived{
            color: $blue-color;
            background-color: $blue-selected;
            border-right: 2px solid $blue-selected;
            // a{
            //     color: $blue-color;
            // }
        }
    }

    &.ui-menu-mode-horizontal{
        position: relative;
        height: 60px;
        line-height: 60px;
        box-sizing: border-box;

        &:before{
            display: none;
        }

        &:after{
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background: $light-border;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .ui-menu-item, .ui-menu-submenu{
            float: left;
            padding: 0 20px;
            text-align: center;
            text-indent: 0;
            border-right: none;
        }        

        .ui-menu-submenu{
            padding: 0;
        }

        .ui-menu-submenu-title{
            padding: 0 20px;
            text-align: center;
            text-indent: 0;
            border-right: none;
        }

        .ui-menu-arrow{
            position: relative;
            display: block;
            top: 0;
            right: 0;
            margin-left: 4px;
        }

        .ui-menu-item, .ui-menu-submenu-title{
            
            &:hover{
                color: $light-selected;
                // a{
                //     color: $light-selected;
                // }
                background-color: $light;
                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $light-selected;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    z-index: 2;
                }
                .ui-menu-arrow{
                    color: $light-selected;
                }
            }

            &.ui-menu-item-actived{
                color: $light-selected;
                // a{
                //     color: $light-selected;
                // }
                background-color: $light;
                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $light-selected;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    z-index: 2;
                }
            }
        }

        .ui-menu-submenu-choosed, 
        .ui-menu-submenu:hover{
            .ui-menu-submenu-title{
                color: $light-selected;
                background-color: $light;
                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $light-selected;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    z-index: 2;
                }
                .ui-menu-arrow{
                    color: $light-selected;
                }
            }
        }

        .ui-menu-submenu-ul{
            min-width: inherit;
            max-height: 300px;
            overflow: auto;
            margin: 5px 0;
            padding: 5px 0 !important;
            background-color: $light;
            box-sizing: border-box;
            border-radius: 4px;
            box-shadow: 0 1px 6px rgba(0,0,0,.2);
            position: absolute;
            z-index: 900;
            text-align: left;
            .ui-menu-group-title{
                line-height: 30px;
                text-indent: 10px;
            }
            .ui-menu-item{
                float: none;
                clear: both;
                margin: 0;
                padding: 8px 20px;
                line-height: normal;
                text-align: left;
                &:hover{
                    color: $light-color;
                    // a{
                    //     color: $light-color;
                    // }
                    background-color: $light-hover-horizontal;
                    &:after{
                        display: none;
                    }
                }
                &.ui-menu-item-actived{
                    border-bottom: none;
                    background-color: $light-selected;;
                    color: $light;
                    // a{
                    //     color: $light;
                    // }
                }
            }
            
        }

        &.ui-menu-type-dark{
            &:after{
                display: none;
            }
            .ui-menu-item, .ui-menu-submenu-title{
                
                &:hover{
                    color: $blue-color;
                    // a{
                    //     color: $blue-color;
                    // }
                    background-color: $blue-selected;
                    &:after{
                        display: none;
                    }
                    .ui-menu-arrow{
                        color: $blue-color;
                    }
                }
    
                &.ui-menu-item-actived{
                    color: $blue-color;
                    // a{
                    //     color: $blue-color;
                    // }
                    background-color: $blue-selected;
                    &:after{
                        display: none;
                    }
                }
            }
    
            .ui-menu-submenu-choosed, 
            .ui-menu-submenu:hover{
                .ui-menu-submenu-title{
                    color: $blue-color;
                    background-color: $blue-selected;
                    &:after{
                        display: none;
                    }
                    .ui-menu-arrow{
                        color: $blue-color;
                    }
                }
            }

            .ui-menu-submenu-ul{
                .ui-menu-item{
                    color: $light-color;
                    // a{
                    //     color: $light-color;
                    // }
                    &:hover{
                        background-color: $light-hover-horizontal;
                    }
                    &.ui-menu-item-actived{
                        color: $blue-color;
                        background-color: $blue-selected;
                        // a{
                        //     color: $blue-color;
                        // }
                        &:hover{
                            color: $blue-color;
                            background-color: $blue-selected;
                        }
                    }
                }
                .ui-menu-group-title{
                    color: $light-group-color;
                }
            }
        }

    }
}