.ui-message{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    background-color: $mask-color;
    overflow: hidden;
    outline: 0;
    z-index: $zindex-modal;

    &-swap {
        width: 400px;
        padding: 30px 40px;
        position: absolute;
        left: 50%;
        top: 40%;
        @include transform(translate(-50%, -50%));
        background-color: #ffffff;
        background-clip: padding-box;
        @include radius($border-radius-small);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    &-title-text{
        vertical-align: middle;
        line-height: 24px;
        color: #666;
        font-weight: bold;
        font-size: 14px;
    }

    &-title + &-content{
        margin-left: 42px;
    }

    &-content{
        margin-top: 8px;
        margin-left: 0px;
    }

    &-buttons{
        margin-top: 30px;
        float: right;
        .ui-button:first-child{
            @extend .ui-button-type-primary
        }
        .ui-button + .ui-button {
            margin-left: 10px;
            margin-bottom: 0;
        }
    }

    .ui-icon-md-help-circle{
        color: $warning-color;
        font-size: 24px;
        margin-right: 16px;
        vertical-align: middle;
    }
}
