// Kill the scroll on the body
.ui-modal-open {
    overflow: hidden;
}

.ui-modal-open .ui-modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $mask-color;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
    z-index: $zindex-modal;
    &.scroll{
        text-align: center;
        .ui-modal-dialog {
            text-align: left;
            position: relative;
            display: inline-block;
            left: 0;
            top: 0;
            margin: 25px auto;
            @include transform(translate(0, 0));
        }
    }
    &.full-screen {
        .ui-modal-dialog {
            left: 0;
            top: 0;
            transform: inherit;
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }
}

.ui-modal-dialog {
    position: absolute;
    padding: 6px 20px;
    left: 50%;
    top: 20%;
    background-color: #ffffff;
    background-clip: padding-box;
    @include transform(translateX(-50%));
    @include radius($border-radius-small);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.ui-modal-title {
    width: 100%;
    border-bottom: 1px solid $border-color-split;
    position: relative;
    &-main {
        display: inline-block;
        padding: 14px 0;
        line-height: 21px;
        font-size: $font-size-base;
        color: $title-color;
        border-bottom: 2px solid $primary-color;
    }
    &-sub {
        margin-left: 10px;
        font-size: 13px;
        color: $subsidiary-color;
    }
    .ui-icon-md-close, .ui-icon-md-resize {
        float: right;
        margin-top: 16px;
        width: 16px;
        height: 16px;
        font-size: 16px;
        font-weight: 700;
        color: #999;
        cursor: pointer;
    }
    .ui-icon-md-resize {
        font-size: 14px;
        margin-right: 10px;
    }
}


.ui-modal-body {
    position: relative;
    padding: 16px 0;
}
