.ui-page{
  font-size: 0;
  display: flex;
  align-items: center;
  &-item {
    display: block;
    margin-right: 4px;
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    color: $text-color;
    user-select: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    transition: all .3s $ease-in-out;
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
    &-active {
      background-color: $primary-color;
      border-color: $primary-color;
      color: #fff;
      &:hover{
        color: #fff;
      }
    }
  }
  &-item-jump-prev, &-item-jump-next {
    &:after {
      content: "•••";
      display: block;
      letter-spacing: 1px;
      color: $text-color;
      text-align: center;
    }
    i{
      display: none;
    }
    &:hover {
      &:after{
        display: none;
      }
      i{
        display: inline-block;
      }
    }
  }
  &-item-jump-prev,
  &-item-jump-next{
    margin-right: 4px;
  }
  &-prev{
    margin-right: 8px;
  }
  &-next{
    margin-left: 4px;
  }
  &-prev,
  &-next,
  &-item-jump-prev,
  &-item-jump-next {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 30px;
    list-style: none;
    text-align: center;
    cursor: pointer;
    color: #666;
    font-size: 12px;
    font-family: Arial;
    border: 1px solid $border-color-base;
    border-radius: $border-radius-base;
    transition: all .3s $ease-in-out;
  }
  &-prev,
  &-next {
    background-color: #fff;
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
  &-disabled {
    cursor: not-allowed;
    color: #ccc;
    &:hover {
      border-color: $border-color-base;
      color: #ccc;
      cursor: not-allowed;
    }
  }
  .ui-page-select{
    display: block;
    width: 75px;
    height: 32px;
    margin-left: 16px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    user-select: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
  }
  .ui-page-quick-jumper {
    display: block;
    user-select: none;
    margin-left: 16px;
    font-size: 12px;
    .jumper-input {
      width: 44px;
      margin: 0 4px;
    }
  }
  .ui-select .ui-select-selection{
    border-radius: 6px;
  }
  .second-icon{
    margin-left: -4px;
  }
}