.ui-panel {
    position: relative;
    border: 1px solid $border-color-base;
    border-radius: 4px;
    background-color: #ffffff;
    &:hover {
        box-shadow: $shadow-2;
    }
    .ui-panel-title {
        padding: 0 20px;
        color: $title-color;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid $border-color-split;
    }
    .ui-panel-title-button {
        float: right;
        display: block;
        height: 40px;
        line-height: 40px;
        > .ui-icon {
            width: 24px;
            height: 24px;
            line-height: 24px;
            margin-top: 8px;
            cursor: pointer;
            &:hover {
                color: #ffffff;
                background: #2db7f5;
                border-radius: 4px;
            }
            &+.ui-icon {
                margin-left: 8px;
            }
        }
    }
    .ui-panel-content {
        position: relative;
        padding: 8px 20px;
    }
    .ui-icon+.ui-icon {
        margin-left: 8px;
    }
}