.ui-radio-wrapper{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    margin-right: 8px;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
    &.ui-radio-wrapper-readonly{
        .ui-radio, .ui-radio-input{
            cursor: default;
        }
        cursor: default;
    }
    &.ui-radio-wrapper-disabled{
        .ui-radio, .ui-radio-input{
            cursor: not-allowed;
        }
        color: $subsidiary-color;
        cursor: not-allowed;
    }
    &:hover:not(.ui-radio-wrapper-disabled):not(.ui-radio-wrapper-readonly){
        .ui-radio-inner{
            border-color: $primary-color;
        }
    }
    &:focus:not(.ui-radio-wrapper-disabled):not(.ui-radio-wrapper-readonly),
    &.ui-radio-wrapper-focus:not(.ui-radio-wrapper-disabled):not(.ui-radio-wrapper-readonly){
        .ui-radio-inner{
            box-shadow: 0 0 0 3px $link-focus-color;
        }
    }
}

.ui-radio{
    display: inline-block;
    position: relative;
    margin-right: 2px;
    white-space: nowrap;
    outline: 0;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
    &.ui-radio-checked{    
        .ui-radio-inner{
            border-color: $primary-color;
            &::before{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

.ui-radio-inner{
    display: block;
    position: relative;
    height: 14px;
    width: 14px;
    background-color: $body-background;
    border: 1px solid $border-color-base;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    &::before{
        position: absolute;
        left: 2px;
        top: 2px;
        height: 8px;
        width: 8px;
        background-color: $primary-color;
        border-radius: 8px;
        content: ' ';
        transition: all .2s ease-in-out;
        opacity: 0;
        transform: scale(0);
    }
}

.ui-radio-input{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}

.ui-radio-content{
    vertical-align: middle;
}

.ui-radio-group{
    display: inline-block;
    outline: none;
    .ui-radio-wrapper{
        margin-right: 16px;
    }
    &.ui-radio-group-vertical{
        .ui-radio-wrapper{
            display: block;
            height: 30px;
            line-height: 30px;
        }
    }
    &.ui-radio-group-button{
        font-size: 0;
        .ui-radio-wrapper{
            position: relative;
            height: 32px;
            line-height: 30px;
            padding: 0 16px;
            margin: 0;
            font-size: 12px;
            border: 1px solid $border-color-base;
            background-color: $body-background;
            border-left-width: 0;
            cursor: pointer;
            &:first-child{
                border-left-width: 1px;
                @include radius($border-radius-small 0 0 $border-radius-small);
            }
            &:last-child{
                @include radius( 0 $border-radius-small $border-radius-small 0 );
            }
            &:first-child:last-child{
                @include radius( $border-radius-small $border-radius-small $border-radius-small $border-radius-small );
            }
            &:hover{
                color: $link-hover-color;
            }
            &:focus,
            &.ui-radio-wrapper-focus{
                color: $link-hover-color;
                box-shadow: 0 0 0 3px $link-focus-color;
                z-index: 2;
            }

            &.ui-radio-wrapper-checked{
                border-color: $link-color;
                color: $link-color;
                &::after{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -1px;
                    width: 1px;
                    content: ' ';
                    background: $link-color;
                    z-index: 1;
                }
            }
            &.ui-radio-wrapper-readonly{
                cursor: default;
                &:hover, 
                &:focus,
                &.ui-radio-wrapper-focus{
                    color: $text-color;
                    box-shadow: none;
                }
            }
            &.ui-radio-wrapper-disabled{
                background-color: $background-color-base;
                border-color: $border-color-base;
                cursor: not-allowed;
                &:hover, 
                &:focus,
                &.ui-radio-wrapper-focus{
                    color: $subsidiary-color;
                    box-shadow: none;
                }
            }
            .ui-radio{
                display: none;
            }
        }
    }
}
