.ui-split{
    position: relative;
    width: 100%;
    height: 100%;
    &.ui-split-horizontal{
        .ui-split-dash{
            cursor: ew-resize;
        }
    }
    &.ui-split-vertical{
        .ui-split-dash{
            cursor: ns-resize;
        }
    }
}

.ui-split-item{
    position: absolute;
    background: #fff;
}

.ui-split-dash{
    position: absolute;
    background: transparent;
    z-index: $zindex-loading-bar;
}