.ui-steps {
    font-size: 0;
    line-height: 1.5;
}

.ui-step {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    .ui-step-tail {
        position: absolute;
        left: 0;
        top: 12px;
        width: 100%;
        padding: 0 10px;
        i {
            position: relative; 
            display: inline-block;
            width: 100%;
            height: 1px;
            vertical-align: top;
            background: $border-color-split;
            border-radius: 1px;
        }
    }
    .ui-step-head {
        position: relative;
        display: inline-block;
        vertical-align: top;
        background-color: #fff;
        font-size: $font-size-small;
    }
    .ui-step-head-swap {
        width: 24px;
        height: 24px;
        line-height: 23px;
        text-align: center;
        margin-right: 6px;
        @include radius(100%);
        border: 1px solid $primary-color;
        @include transition(background-color 0.2s $ease-in-out);
    }
    .ui-step-main {
        position: relative;
        display: inline;
        vertical-align: top;
        background-color: #fff;
    }
    .ui-step-title {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        padding-right: 6px;
        font-size: $font-size-base;
        font-weight: 700;
        background-color: #fff;
    }
    .ui-step-desc {
        padding: 0 0 10px 0;
        margin-left: 32px;
        font-size: $font-size-small;
    }
    .ui-icon-md-checkmark {
        font-size: 13px;
        font-weight: bolder;
        color: $primary-color;
    }
}

.ui-step.ui-step-ready {
    .ui-step-head-swap {
        border-color: #ccc;
        color: #999;
    }
    .ui-step-main {
        color: #999;
    }
}

.ui-step.ui-step-doing {
    .ui-step-head-swap {
        border-color: $primary-color;
        background-color: $primary-color;
        color: #fff;
    }
    .ui-step-main {
        color: #666;
    }
    .ui-step-tail {
        i {
            background-color: $primary-color;
        }
    }
}

.ui-step.ui-step-done {
    .ui-step-main {
        color: #999;
    }
    .ui-step-tail {
        i {
            background-color: $primary-color;
        }
    }
}

.ui-steps.ui-steps-small {
    .ui-step-tail {
        top: 9px;
        padding: 0 5px;
    }
    .ui-step-head-swap {
        width: 18px;
        height: 18px;
        line-height: 17px;
        margin-right: 5px;
    }
    .ui-step-title {
        height: 18px;
        line-height: 18px;
        padding-right: 5px;
        font-size: $font-size-small;
    }
    .ui-step-desc {
        display: none;
    }
    .ui-icon-md-checkmark {
        font-size: 12px;
        font-size: 7px \9;
        @include transform(scale(0.7) rotate(0deg));
    }
}

.ui-steps.ui-steps-vertical {
    .ui-step {
        display: block;
        .ui-step-tail {
            left: 12px;
            top: 30px;
            width: 0;
            height: auto;
            bottom: 10px;
            padding: 0;
            i {
                width: 1px;
                height: 100%;
            }
        }
        .ui-step-desc {
            padding: 5px 0 20px 0;
        }
    }
}