.ui-tabs{
    box-sizing: border-box;
    position: relative;
    zoom: 1;
    color: $text-color;
    .ui-tabs-header{
        display: flex;
        width: 100%;
        margin-bottom: 16px;
        font-size: 0;
        border-bottom: 1px solid $border-color-split;
        .ui-tabs-header-container{
            position: relative;
            overflow: hidden;
            flex: 1;
        }
        .ui-tabs-header-scroll{
            padding: 0 30px;
            .button-left,
            .button-right{
                position: absolute;
                padding: 10px 6px;
                color: #909399;
                background: #fff;
                z-index: 100;
                cursor: pointer;
                &:hover{
                   color: $selected-color;
                }
                &.disabled{
                    color: #ccc;
                    cursor: not-allowed;
                }
            }
            .button-left{
                left: -1px;            
            }
            .button-right{
                right: -1px;
            }
        }
        &.ui-tabs-header-card {
            .ui-tabs-header-item {
                padding: 0;
                position: relative;
                .ui-tabs-header-label{
                    padding: 8px 30px;
                    border-left: 1px solid #e3e8ee;
                    border-bottom: 1px solid transparent;
                    border-top: 1px solid #e3e8ee;
                    margin-left: 0;
                    border-right: none;
                }
                &:last-child{
                    .ui-tabs-header-label{
                        border-right: 1px solid #e3e8ee;
                    }
                }
            }
            .ui-tabs-header-item.ui-tabs-header-current{
                .ui-tabs-header-label::after{
                    bottom: -1px;
                }
            }
        }
        .ui-tabs-header-swap{
            white-space: nowrap;
            float: left;
            transition: .5s cubic-bezier(.645,.045,.355,1);
        }    
        .ui-tabs-header-item{
            position: relative;
            padding: 0 10px;
            display: inline-block;
            vertical-align: middle;
            font-size: $font-size-base;
            cursor: pointer;
            @include transition(color .3s $ease-in-out);
            .ui-tabs-header-label{
                position: relative;
                padding: 8px 20px;
            }
            &.ui-tabs-header-current{
                color: $selected-color;
                .ui-icon{
                    color: $selected-color;
                }
                .ui-tabs-header-label::after{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background: $selected-color;
                }
            }
            &.ui-tabs-header-disabled{
                pointer-events: none;
                cursor: default;
                color: #ccc;
                .ui-icon{
                    color: #ccc;
                }
            }
            &.ui-tabs-header-draging{
                opacity: 0.5;
                background: $disabled-color;
            }
            &:hover{
                .button-close{
                    display: inline-block;
                }
            }
            .button-close{
                display: none;
                position: absolute;
                right: 6px;
                top: 10px;
                &:hover{
                    color: $selected-color;
                }
            }
        }
    }

    .ui-tab-buttons{
        padding: 0 16px;
    }

    .ui-tabs-body{
        width: 100%;
        position: relative;
    }

}

.ui-tab{
    width: 100%;
}