@import '../common/expand.scss';

.ui-table {
    .tree-level-1 {
        padding-left: 16px !important;
    }
    .tree-level-2 {
        padding-left: 32px !important;
    }
    .tree-level-3 {
        padding-left: 48px !important;
    }
    .tree-level-4 {
        padding-left: 64px !important;
    }
}