.ui-readonly-input {
    position: relative;
    display: inline-block;
    font-size: $font-size-small;
    outline: none;
    cursor: pointer;
    &-content {
        font-variant: tabular-nums;
        box-sizing: border-box;
        margin: 0;
        list-style: none;
        position: relative;
        display: block;
        padding: 0 35px 0 11px;
        width: 100%;
        height: 32px;
        line-height: 30px;
        text-overflow:ellipsis;
        white-space: nowrap;
        outline: none;
        color: $text-color;
        background-color: $tooltip-color;
        border: 1px solid #d9d9d9;
        border-radius: $border-radius-small;
        transition: all .2s ease-in-out;
        overflow: hidden;
        &.placeholder {
            color: $tip-color;
        }
    }
    > .ui-icon {
        position: absolute;
        line-height: 1.5;
        top: 16px;
        right: 12px;
        margin-top: -9px;
        font-size: $font-size-base;
        color: $subsidiary-color;
    }
    &:hover, &:focus {
        .ui-readonly-input-content {
            border-color: $link-hover-color;
        }
        > .ui-icon {
            color: $link-hover-color;
        }
    }
    &:focus .ui-readonly-input-content {
        box-shadow: 0 0 0 3px $link-focus-color;
    }
    &.disabled {
        cursor: not-allowed;
        .ui-readonly-input-content {
            background-color: $background-color-select-hover;
        }
        &:hover, &:focus {
            .ui-readonly-input-content {
                border-color: $border-color-base;
                box-shadow: none;
            }
            > .ui-icon {
                color: $subsidiary-color;
            }
        }
    }
}
