.ui-zoom {
    @include fixed();
    z-index: $zindex-modal;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $mask-color;
    &-image {
        display: inline-block;
        margin: 0;
        padding: 0;
        background: #ffffff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        position: relative;
        .ui-zoom-close {
            cursor: pointer;
            position: absolute;
            width: 20px;
            height: 20px;
            right: -10px;
            top: -10px;
            background-color: #ffffff;
            @include radius(100%);
        }
        .ui-icon-md-close-circle {
            margin: 0;
            color: black;
            font-size: 30px;
            line-height: 20px;
        }
        img {
            display: block;
            height: auto;
        }
    }
}
