.DS_Store
.idea
.git
.vscode
.history
.cache
.temp
.hound
.fes
.swc
.fes-develop
.fes-production
dist
*.log
node_modules
npm-debug.log
docs/.vitepress/cache
/packages/fes-template/dist
/packages/fes-doc/docs/.vitepress/dist
/packages/fes-template/package-lock.json
/.changelog
/packages/*/lib
/packages/*/es
/packages/*/dist
package-lock.json
