.login-panel {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $body-background;
    background-image: url("../images/bg.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 18px;
    color: $black-text-color;
  }
  
  .login-panel .login-panel-swap {
    position: relative;
    width: 945px;
    height: 324px;
    margin: 10% auto;
    border-radius: $border-radius-small;
  }
  
  .login-panel .logo {
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    height: 100%;
    text-align: center;
    .logo-text {
      display: inline-block;
      vertical-align: middle;
      margin-top: 130px;
      font-size: 28px;
      font-weight: bold;
    }
  }
  
  .login-panel .split {
    display: inline-block;
    background: $border-color-base;
    width: 1px;
    height: 180px;
    vertical-align: middle;
  }
  
  .login-panel .error {
    margin-top: 10px;
    width: 350px;
    color: $error-color;
    font-size: 14px;
    .ui-icon-exclamation-circle{
        margin-right: 6px;
    }
  }
  
  .login-panel .login-form {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 75px 0;
    height: 270px;
    input::-webkit-input-placeholder{
      color: $black-text-color;
    }
    input::-moz-placeholder {
      color: $black-text-color;
    }
    /* ie */
    input:-ms-input-placeholder {
      color: $black-text-color;
    }
    /* firefox 19+ */
    input:-moz-placeholder {
      color: $black-text-color;
    }
  
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset !important;
      -webkit-text-fill-color: $black-text-color !important;
    }
    .line{
        padding-top: 30px;
        border-bottom: 1px solid $border-color-split;
    }
    input[type="text"],
    input[type="password"]{
      margin: 0;
      width: 350px;
      height: 40px;
      line-height: 40px;
      padding: 0 15px;
      vertical-align: middle;
      background: 0 0;
      outline: 0;
      border: none;
      font-size: 16px;
      color: $black-text-color;
    }
    button {
      margin-top: 10px;
      width: 350px;
      height: 48px;
      border-radius: 4px;
      line-height: 46px;
      border: none;
      outline: 0;
      background-color: $primary-color;
      color: #ffffff;
      cursor: pointer;
      text-align: center;
      font-size: 18px;
      &:hover {
          background-color: $selected-color;
      }
    }
  }
  
.ie-palceholder::after{
    content: '用户名';
    position: absolute;
    left: 88px;
    top: 38px;
    font-size: 16px;
}
.ie-palceholder-password::after{
    content: '密码';
    top: 110px;
}