@import "variables";
@import "login";

.article {
  padding: 20px;
  h1 {
    font-size: 26px;
    font-weight: 400;
    margin: 12px 0;
  }

  h2 {
    margin: 25px 0 12px;
    font-size: 20px;
    font-weight: 400;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    margin: 5px;
  }

  ul {
    padding-left: 40px;
  }

  li {
    list-style-type: disc;
    margin-bottom: 5px;
    font-size: 14px;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 500px;
    margin-bottom: 24px;
  }
  th,td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
  }
}