@import "variables";

.article {
  padding: 20px;
  h1 {
    font-size: 26px;
    font-weight: 400;
    margin: 12px 0;
  }

  h2 {
    margin: 25px 0 12px;
    font-size: 20px;
    font-weight: 400;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
  }

  p {
    font-size: 14px;
    margin: 5px;
  }

  ul {
    padding-left: 40px;
  }
  li {
    list-style-type: disc;
    margin-bottom: 5px;
    font-size: 14px;
  }

  table{
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e9e9e9;
    width: 500px;
    margin-bottom: 24px;
  }
  th,td {
    border: 1px solid #e9e9e9;
    padding: 8px 16px;
    text-align: left;
  }
}

.ml-8{
    margin-left: 8px;
}

.ml-16{
    margin-left: 16px;
}

.mt-16{
    margin-top: 16px;
}

.pr-16{
    padding-right: 16px;
}

// 修复问题
.ui-modal .ui-modal-dialog{
    overflow: visible;
}

.query-page .query-page-table .ui-page {
    margin: 20px;
    text-align: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    background: #f0f2f5;
    min-height: 100%;
    .page-header{
        padding: 16px 32px 0;
        background: #fff;
        border-bottom: 1px solid $border-color-split ;
        .page-header-title{
            color: $title-color;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 16px;
        }
        .page-header-desc{
            margin-bottom: 16px;
        }
    }
    .page-body{
        flex: auto;
        min-height: 0;
        margin: 24px 24px;
        background: #fff;
        border: 1px solid $border-color-split ;
    }
}
