@media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
  .layout-left-menu {
    padding-bottom: 24px;
    margin-bottom: 0px;
    position: absolute;
    width: 200px;
    top: 143px;
    bottom: 130px;
  }
  .layout-left-user {
    position: fixed;
    width: 200px;
    bottom: 0px;
    left: 0px;
  }
}
input[type=text]::-ms-clear {
    display: none;
}